.feature {
  margin-top: 0;
  padding: 94px 15px;


&__list {
  display: flex;

}

&__list &__item+&__item {
  margin-left: 30px;
}

&__icon {
  display: flex;
  height: 120px;
  background-color: var(--grey-color);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;

}

&__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

&__text {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secandary-text-color);
}
}